@model List<string>

<h2>Выберите файлы</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">@TempData["Message"]</div>
}

<form asp-action="Process" method="post">
    <div class="alert alert-info">@TempData["Message"]</div>
    <table class="table">
        @foreach (var file in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="selectedFileIds" value="@file" />
                </td>
                <td>@file</td>
            </tr>
        }
    </table>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>